.table {
    max-width: 800px;
    margin: 20px auto 50px auto;
}

.contactos {
    margin: 120px auto 40px auto;
}

.basura {
    color: rgb(57, 207, 57);
    cursor: pointer;
    font-size: 20px;
}

.basura:hover {
    color: red;
}

.alert {
    max-width: 800px;
    margin: 0 auto;
}