<div class="contenedor-nosotros">
    <div class="contenedor-texto">
        <h2 class="text-center">¿Quiénes somos? </h2>
        <p class="text-justify">Somos una empresa de Ingeniería que inició operaciones en el año del 2006, en la Ciudad de México. Nuestra preparación, conocimiento del mercado y experiencia nos avala para atender y satisfacer las necesidades del cliente en este sector.</p>
    </div>
    <div class="contenedor-imagenes">
        <div class="imagen-arqui">
            <img src="/assets/img/arquitecto-1.jpg" alt="arquitecto">
        </div>
        <div class="imagen-arqui">
            <img src="/assets/img/arquitecto-2.jpg" alt="arquitecto">
        </div>
        <div class="imagen-arqui">
            <img src="/assets/img/arquitecto-3.jpg" alt="arquitecto">
        </div>
        <div class="imagen-arqui">
            <img src="/assets/img/arquitecto-4.jpg" alt="arquitecto">
        </div>
        <div class="imagen-arqui">
            <img src="/assets/img/arquitecto-5.jpg" alt="arquitecto">
        </div>
        <div class="imagen-arqui">
            <img src="/assets/img/arquitecto-6.jpg" alt="arquitecto">
        </div>
        <div class="imagen-arqui">
            <img src="/assets/img/arquitecto-7.jpg" alt="arquitecto">
        </div>  dgsg
    </div>

</div>