.colornav {
    height: 70px;
    opacity: .7;
}

ul li a {
    font-size: 23px!important;
    color: rgb(255, 255, 255)!important;
}

ul li .fab,
ul li .fa-envelope {
    margin-top: 5px;
    font-size: 25px;
    color: white;
}

.navbar-brand,
.navbar-brand img {
    width: 100px;
    margin: 0 auto;
}